.cliente {
    border-right: 4px dotted #cdcdcd ;
    border-right-width: thin;
}

.aboutJob {
    border: 4px dotted #cdcdcd ;
    border-width: thin;
    box-shadow: 2em;
}

.aboutJobTittle {
   margin-top: -5em;
}

.MarginUp {
    margin-top: -1em;
}
.BlueT {
    color: blue;
}

.NavLeft {
    margin-left: -1em
}

.homeImage {
  margin-top: -8em;
}

@media only screen and (min-width: 392px) {
    img.homeImage {
    margin-top: 5em;
    }
}

/*Maybe Mobile*/
@media only screen and (min-width: 370px) {
    img.homeImage {
     margin-top: 5em;
    }
}

/*Smallest when Browser collasp*/
@media only screen and (min-width: 392px) {
    img.homeImage { 
     margin-top: 1em;
    }
}



.home {
    margin-top: -3em;
}